.main-container {
  background-color: white;
}

.body-container {
  margin: 55px 30px 30px 30px;
  padding: 0px;
  overflow: hidden;
  display: block;
  position: relative;
  background-color: white;
}

.container {
  margin-bottom: 20px;
  width: 100%;
  padding: 0px !important;
}


@media(max-width: 768px) {
  .container {
    width: 96%;
  }
}
