// Specific CSS for your home-page
.intro-banner {
  display: block;
  height: 100vh;
  top: -48px;
  position: relative !important;
  overflow: hidden !important;
}


.intro-banner h1 {
  z-index: 5;
  margin: 0px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}
