<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/elisenavarro"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/elise-navarro"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/elise_navarro"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">© Elise Navarro 2021</div>
</div>
