<div class="navbar navbar-expand-sm navbar-portfolio">
  <%= link_to root_path do %>
    <h3 class="navbar-logo">ELISE NAVARRO</h3>
  <% end %>
  <% if current_page?("/") %>
    <div class="nav-links">
      <div class="nav-link" id="btn-about">ABOUT</div>
      <div class="nav-link" id="btn-projects">PROJECTS</div>
      <div class="nav-link" id="btn-contact">CONTACT</div>
      <a class="nav-link" id="btn-resume" href="/NavarroElise_CV_2020.pdf" target="_blank">RESUME</a>
    </div>
  <% end %>
</div>
