<div class="navbar navbar-expand-sm navbar-light navbar-portfolio">
  <a style="text-decoration:none" href="#">
    <h3 class="navbar-logo">ELISE NAVARRO</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><a class="nav-link" href="#">ABOUT</a></li>
      <li><a class="nav-link" href="#">PROJECTS</a></li>
      <li><a class="nav-link" href="#">CONTACT</a></li>
    </ul>
  </div>
</div>
