<div class="navbar navbar-expand-sm navbar-light navbar-portfolio">
  <a class="navbar-logo" href="#">
    <h3>ELISE NAVARRO</h3>
  </a>

  <div class="nav-links">
    <ul>
      <li><a id="nav-about" href="#">ABOUT</a></li>
      <li><a id="nav-projects" href="#">PROJECTS</a></li>
      <li><a id="nav-contact" href="#">CONTACT</a></li>
    </ul>
  </div>
</div>
