<div class="body-container">
  <div class="container">
    <div class="intro-banner">
      <%= image_tag "Sand.jpg", alt: "Homepage Image", class: "intro-background", style: "object-fit: cover; top: 0; left: 0"  %>
      <h1 class="intro-h1">Not Your<br>Average<br>Software<br>Developer.</h1>
      <div class="arrow">
        <p class="arrow-txt">Scroll</p>
        <i class="fas fa-long-arrow-alt-down"></i>
      </div>
    </div>
  </div>

  <div class="intro-about-me">
    <div class="container" style="display: flex; align-items: center; justify-content: space-evenly;">
      <%= image_tag "Headshot-Portfolio.jpg", alt: "Elise Navarro", class: "avatar"%>
      <div class="about-me">
        <h2>Hello, I'm Elise.</h2>
        <p>
          I'm Elise Navarro, a Denver based developer seeking new career opportunities.
          <br>
          <br>
          I'm a multi-faceted developer with a background in digital marketing and data analysis.
          <br>I'm innately curious, empathic and open-minded. I'm a programmer who loves grammar, <br>syntax and digging into the details.
          <br>
          <br>
          My interested include learning languages [programming & human], traveling, teaching <br>Pilates and building connections through tech and fitness.
        </p>
      </div>
     </div>
  </div>

  <div class="container">
    <div class="skills">
      <div class="skills-tools">
        <h2>Skills & Tools</h2>
        <p>I learned to code with <a href="https://www.lewagon.com/" target="blank" class="p-link">Le Wagon</a> in Barcelona, Spain in 2019. I'm committed to learning and growing my knowledge base in order to become a more efficient developer.</p>
      </div>
      <div class="skills-list" style="text-align: right">
        <div class="skills-front">
          <h4>Front-End</h4>
          <ul class="list-unstyled">
            <li><p>HTML / CSS / SASS</p></li>
            <li><p>Bootstrap</p></li>
            <li><p>JavaScript ES6 / jQuery</p></li>
            <li><p>AJAX & DOM Events</p></li>
          </ul>
        </div>
        <div class="skills-back">
          <h4>Back-End</h4>
          <ul class="list-unstyled">
            <li><p>Ruby on Rails</p></li>
            <li><p>SQL / Database Structures</p></li>
            <li><p>RESTful API & JSON</p></li>
            <li><p>Web Scraping</p></li>
            <li><p>Version Control / Git</p></li>
          </ul>
        </div>
        <div class="skills-product">
          <h4>Additional Skills</h4>
          <ul class="list-unstyled">
            <li><p>Proguct Management</p></li>
            <li><p>Digital Marketing Strategy</p></li>
            <li><p>Data Analysis</p></li>
            <li><p>Scrum / Agile Methodology</p></li>
            <li><p>UX/UI Design</p></li>
            <li><p>Public Speaking / Instructing</p></li>
            <li><p>Spanish (Intermediate)</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="projects">
      <h2>Projects</h2>
    </div>
  </div>

  <div class="container">
    <div class="contact-me">
      <h2>Let's Connect</h2>
    </div>
  </div>
</div>
