<div class="container">
  <div class="intro-banner">
    <div class="into-content">
      <h1>I'm Elise. Marketer, Analyst, <br> Instructor & Full-Stack Developer</h1>
    </div>
  </div>

  <div class="container">
    <div class="about-me">
      <h2>Hi. Elise Navarro, a software developer from Denver, CO.</h2>
      <p>Placeholder</p>
    </div>
    <div class="skills">
      <h2>Skills</h2>

    </div>
    <div class="projects">
      <h2>Projects</h2>
    </div>
  </div>

  <div class="container">
    <div class="contact-me">
      <h2>Let's Connect</h2>
    </div>
  </div>
</div>
