<div class="body-container">
  <div class="container">
    <div class="intro-banner">
      <h1>I'm Elise. Marketer, Analyst, <br> Instructor & Full-Stack Developer</h1>
    </div>
  </div>

  <div class="container">
    <div class="about-me">
      <h2>Welcome. I'm Elise Navarro, a full-stack web developer from Denver, CO.</h2>
      <p>I'm a multi-faceted developer with a background in digital
        <br>marketing and data analysis. My interested include <br>learning languages [programming & human], <br>teaching Pilates and building connections through tech and fitness.</p>
    </div>
   </div>

  <div class="container">
    <div class="skills">
      <div>
        <h2>Skills & Tools</h2>
        <p>I learned to code in Barcelona, Spain in the winter of 2019 at <a href="https://www.lewagon.com/" target="blank" class="p-link">Le Wagon</a>. I'm committed to learning and growing my knowledge base in order to become a more efficient developer</p>
      </div>
      <div class="skills-list">
        <div class="skills-front">
          <h4>Front-End</h4>
          <ul>
            <li><p>HTML / CSS / SASS</p></li>
            <li><p>Bootstrap</p></li>
            <li><p>JavaScript ES6 / jQuery</p></li>
            <li><p>AJAX & DOM Events</p></li>
          </ul>
        </div>
        <div class="skills-back">
          <h4>Back-End</h4>
          <ul>
            <li><p>Ruby on Rails</p></li>
            <li><p>SQL / Database Structures</p></li>
            <li><p>RESTful API & JSON Integration</p></li>
            <li><p>Web Scraping</p></li>
            <li><p>Version Control/Git</p></li>
          </ul>
        </div>
        <div class="skills-product">
          <h4>Additional Skills</h4>
          <ul>
            <li><p>Proguct Management</p></li>
            <li><p>Digital Marketing Strategy</p></li>
            <li><p>Data Analysis</p></li>
            <li><p>Scrum / Agile Methodology</p></li>
            <li><p>UX/UI Design</p></li>
            <li><p>Public Speaking / Instructing</p></li>
            <li><p>Spanish (Intermediate)</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="projects">
      <h2>Projects</h2>
    </div>
  </div>

  <div class="container">
    <div class="contact-me">
      <h2>Let's Connect</h2>
    </div>
  </div>
</div>
