

.contact-me {
  bottom: 0px;
  width: 100%;
  padding: 40px 0px 40px 0px;
  margin: 0px !important;
  display: inline-block;
  background-color: white;
}

.contact-form {
  width: 584px;
  button {
    margin-top: -24px;
  }
}

label {
  font-family: Overpass, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #1C1A20;
  p {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
  }

  .form-field {
    border: black solid 1px;
    padding: 4px 8px;
    margin-left: 8px;
    &:focus {
      box-shadow: none;
      border: black solid 1px;
      outline: none;
    }
  }
  textarea {
    width: 500px;
    height: 80px;
    padding: 8px;
    margin-left: 24px !important;
  }
}

.form-first-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .form-field {
    width: 200px;
  }
}

button {
  padding: 5px 20px !important;
}

@media(max-width: 768px) {
  .contact-me {
    width: 100%;
    padding-top: 30px;
    text-align: center;
  }

  .contact-form {
    width: 100%;
  }

  .form-first-row {
    display: block;
    width: calc(100% - 16px);
    label {
      display: flex;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
    }
    .form-field {
      flex-grow: 1;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }

  label p {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
  }

  .email-field {
    margin-left: 40px !important;
  }

  .message-field {
    margin-right: 16px;
    margin-left: 18px !important;
    margin-top: -22px;
  }

  button {
    width: calc(100% - 16px);
    padding: 5px 10px !important;
  }
}
