.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  z-index: 10;
}

.navbar-portfolio {
  justify-content: space-between;
  background: white;
  flex-grow: 0;
}

.navbar-portfolio .navbar-logo {
  color: gray;
  margin-bottom: 0px;
  position: absolute;
  top: 0px;
  left: 40px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 55px;
  z-index: 11;
}

.nav-links {
  position: absolute;
  top: 4px;
  right: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  transform: translate(52%, 0%);
}

.nav-link {
  list-style-type: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 11;
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  li:hover {
    color: $sand;
    text-decoration: none
  }
}

.small-device-nav {
  display: none;
}

@media(max-width: 768px) {
  .small-device-nav {
    display: flex;
  }

  .navbar-logo {
    left: 16px;
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0px;
  }

  .nav-links {
    display: none;
  }
}
