.navbar-portfolio {
  justify-content: space-between;
  background: white;
}

.navbar-portfolio .navbar-logo {
  color: light-gray;
  text-decoration: none;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to gray on hover */
li a:hover {
  color: gray;
  text-decoration: none
}
