.navbar-portfolio {
  justify-content: space-between;
  background: white;
}

.navbar-portfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-portfolio .navbar-logo {
  color: gray;
  margin-bottom: 0px;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to gray on hover */
li a:hover {
  color: gray;
  text-decoration: none
}


// @media(max-width: 768px) {
//   .small-device-nav {
//     display: flex;
//   }

//   .navbar-logo {
//     left: 16px;
//     position: fixed;
//     width: 100%;
//     text-align: center;
//     left: 0px;
//   }

//   .nav-links {
//     display: none;
//   }
// }
