#project-intro-h1 {
  font-size: 90px !important;
}

.project-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding-top: 40px;
  height: 300px;
  background-color: $light-gray;
}

.project-details {
  padding: 0px 16px;
  margin-left: 112px;
  margin-right: 16px;
}

.back-arrow {
  z-index: 12;
  display: -webkit-inline-box;
  position: fixed;
  font-size: 12px;
  top: 50%;
  left: 60px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  p {
    color: black;
    padding-left: 8px;
  }
}

.project-links {
  padding: 16px 0px;
}

.site-btn {
  background-color: $sand;
  color: rgb(248, 248, 248);
  margin-right: 16px;
  border: none;
  padding: 10px 20px;
  &:hover {
    color: rgb(248, 248, 248);
  }
}

.source-btn {
  color: $sand;
  outline: solid 1px $sand;
  outline-offset: -1px;
  padding: 10px 20px;
  &:hover {
    color: #1C1A20;
  }
}

.image-gallery {
  display: flex;
  margin: 160px 0px 96px 0px;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: 112px;
  column-gap: 10px;
  .show-imgs {
    flex: 0 0 auto;
  }
}

.show-img {
  width: 250px;
  margin: 0px 10px 40px 10px;
  margin-bottom: 40px;
  border: solid 1px $light-gray;
}


@media(max-width: 768px) {
  .back-arrow {
    display: none;
  }

  .show-imgs {
    display: block;
    margin: 0px;
  }

  .show-img {
    width: 92vw;
  }

  .image-gallery {
    display: block;
  }

  #project-container {
    display: block;
  }

  .projects-details {
    margin: 0px;
    padding: 0px;
    padding: 0px 16px 0px 0px;
  }

  .project-links a {
    display: block;
    margin: 16px 0px 16px 0px;
    text-align: center;
  }
}
